* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
	color: #FFFAF0;
	background: url('https://pbs.twimg.com/ext_tw_video_thumb/1203016274160295936/pu/img/Rw5ymy22CmK6VH5a.jpg');
}

a {
	color: #FFFAF0;
	cursor: pointer;
  text-decoration: none;
	font-size: 18px;
  margin-top: 5px;
}
a:hover {
	opacity: .5;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#root {
	position: relative;
	min-height: 100%;
}

content {
	margin-bottom: 20px;
	min-height: 400px;
}
